.admin-sidebar {
  height: 60vh;
  padding: 10px 0;
  /* background: #fff; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.admin-sidebar ul li span{
  color: #000;
  font-weight: 600;

}
