.item-list {
    border: 0;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .icon-items {
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  
 
  input[type="text"], input[type="number"]{
    width: 50% !important;
    background: #f5f1f1 !important;
    padding: 10px 10px !important;
  }
  .itemDesc{
    width: 50% !important;
    background: #f5f1f1 !important;
    resize: none !important;

  }
  #menu{
    width: 50% !important;
    padding: 10px 5px !important;
  }
  
 
  
  /* add item css */
  .add-item, .update-item{
    margin-bottom: 10rem;
  }